a {
	color: #2E2E70;
}

a:hover {
	color: #0A0A47;
}

h2 {
	font-size: 25px;
	margin: 18px 0 18px 0;
}

.floaty {
	position: fixed;
	left: 0.1em;
	top: 17em;
}

.navbar-patchwork {
	background-color: #0A0A47;
	border-color: #e7e7e7;
	margin-bottom: 0;
	border-radius: 0;
	color: #fff;
}

.navbar-patchwork .navbar-toggle {
	border-color: #ddd;
}

.navbar-patchwork .nav > li > a:hover,
.navbar-patchwork .nav > li > a:focus {
	text-decoration: none;
	background-color: #2E2E70;
}

.navbar-patchwork .navbar-toggle .icon-bar {
	background-color: #eee;
}

.navbar-patchwork a {
	color: #fff;
}

#breadcrumb {
	float: left
	width: 100%;
	border-bottom: 0.1em solid #ddd;
	padding: 0.2em 1em;
	color: #a0a0a0;
}

#breadcrumb-left {
	float: left;
}

#breadcrum-right {
	float: right;
}

#content {
	padding: 1em;
}

form {
	padding: 0em;
	margin: 0em;
}

table {
	border-collapse: collapse;
}

img {
	border: 0;
}

input {
	border: thin solid #909090;
}

dl dt {
	margin-top: 0.8em;
}

#footer {
	padding: 1em;
	font-size: small;
	text-align: center;
	color: #909090;
}

#footer a {
	color: #909090;
}

/* messages */
#messages {
	background: #e0e0f0;
	margin: 0.5em 1em 0.0em 0.5em;
	padding: 0.3em;
}

#messages .message {
	color: green;
}

.filters {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

a.filter-action {
    color: black;
}
a.filter-action:hover {
    text-decoration: none;
}


a.colinactive, a.colactive {
	color: black;
	text-decoration: none;
}

a.colinactive:hover {
	color: red;
}

div.filters {
}

div.patchforms {
	margin-top: 2em;
}

/* list order manipulation */

table.patchlist tr.draghover {
	background: #e8e8e8 !important;
}

.dragging {
	border: thin solid black;
	background: #e8e8e8 !important;
}

input#reorder-cancel {
	display: none;
	color: #505050;
}

input#reorder-change {
}

/* list pagination */
.paginator { padding-bottom: 1em; padding-top: 1em; font-size: 80%; }

.paginator .prev-na,
.paginator .next-na {
	padding:.3em;
	font-weight: normal;
	border: 0.1em solid #c0c0c0;
	background-color: #f9f9f9;
	color: #a0a0a0;
}

.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
	border: 0.1em solid #b0b0d0;
	background-color: #eeeeee;
	color: #786fb4;
	padding: .3em;
	font-weight: bold;
}

.paginator .prev, .paginator .prev-na { margin-right:.5em; }
.paginator .next, .paginator .next-na { margin-left:.5em; }

.paginator .page a, .paginator .page a:visited, .paginator .curr {
	padding: .25em;
	font-weight: bold;
	border: 1px solid #b0b0d0;
	background-color: #eeeeee;
	margin: 0em .25em;
	color: #786fb4;
}

.paginator .curr {
	background-color: #b0b0d0;
	color:#fff;
	border:1px solid #c0c0ff;
	font-weight:bold;
}

.paginator .page a:hover,
.paginator .curr a:hover,
.paginator .prev a:hover,
.paginator .next a:hover {
	color: #ffffff;
	background-color: #c0c0ff;
	border:1px solid #234f32;
}

/* project list view */
.project-set {
}

.project-set .project {
	display: inline-block;
	vertical-align: top;
	background: #fcfcfc;
	border: thin solid #f0f0f0;
	box-shadow: 5px 5px 5px #c0c0c0;
	margin: 2em 0.2em;
	padding: 1em;
	width: 20em;
	min-height: 5em;
}

.project h2.project-title {
	font-weight: bold;
	font-size: 110%;
	margin: 0.2em 0;
}

/* patch view */
table.patchmeta th {
	text-align: left;
}

table.patchmeta tr th, table.patchmeta tr td {
	text-align: left;
	padding: 3px 10px 3px 10px;
	vertical-align: middle;
}

.patchnav {
	padding-left: 1em;
	padding-top: 1em;
}

.comment .meta {
	background: #f0f0f0;
}

.patch .content {
	border: thin solid gray;
	padding: 1em;
}

.patch-pull-url {
	font-family: "DejaVu Sans Mono", fixed;
}

.quote {
	color: #007f00;
}

span.p_header	{ color: #2e8b57; font-weight: bold; }
span.p_chunk	{ color: #a52a2a; font-weight: bold; }
span.p_context	{ color: #a020f0; }
span.p_add	{ color: #008b8b; }
span.p_del	{ color: #6a5acd; }
span.p_mod	{ color: #0000ff; }

.acked-by {
	color: #2d4566;

}

.nacked-by {
	color: #2d4566;

}

.signed-off-by {
	color: #672d45;
	font-weight: bold;
}

.from {
	font-weight: bold;
}

/* bundles */
table.bundlelist {
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border: thin solid black;
}

table.bundlelist th {
	padding-left: 2em;
	padding-right: 2em;
	background: #eeeeee;
	border-bottom: thin solid black;
}

table.bundlelist td
{
	padding-left: 2em;
	padding-right: 2em;
}

/* forms that appear for a patch */
div.patchform {
	border: thin solid gray;
	padding-left: 0.6em;
	padding-right: 0.6em;
	float: left;
	margin: 0.5em 1em;
}

div.patchform h3 {
	margin-top: 0em;
	margin-left: -0.6em;
	margin-right: -0.6em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	background: #786fb4;
	color: white;
	font-size: 100%;
}

div.patchform ul {
	list-style-type: none;
	padding-left: 0.2em;
	margin-top: 0em;
}

/* forms */
table.form {
}

span.help_text {
	font-size: 80%;
}


table.form td {
	padding: 0.6em;
	vertical-align: top;
}

table.form th.headerrow {
	background: #786fb4;
	color: white;
	font-weight: bold;
	text-align: center;
}

table.form th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	padding-top: 0.6em;
}

table.form td.form-help {
	font-size: smaller;
	padding-bottom: 1em;
	padding-top: 0em;
}

table.form tr td.submitrow {
	border-bottom: 0.2em solid #786fb4;
	text-align: center;
}

table.registerform, table.passwordform {
	margin-left: auto;
	margin-right: auto;
}
table.loginform {
	margin-left: auto;
	margin-right: auto;
	width: 30em;
}

/* form errors */
.errorlist {
	color: red;
	list-style-type: none;
	padding-left: 0.2em;
	margin: 0em;
}
.error {
	color: red;
}

/* generic table with header columns on the left */
table.horizontal {
	border-collapse: collapse;
	border: thin solid #e8e8e8;
}

table.horizontal th {
	text-align: left;
}

table.horizontal td, table.horizontal th {
	padding: 0.5em 1em;
	border: thin solid #e8e8e8;
}

/* generic table with header row */
table.vertical {
	border-collapse: collapse;
}
table.vertical th {
	background: #786fb4;
	color: white;
	font-weight: bold;
	text-align: center;
}

table.vertical th, table.vertical td {
	padding: 0.2em 0.8em;
	border: thin solid #e8e8e8;
}

td.numberformat {
	text-align: right;
}

/* boxes */
div.box {
	border: thin solid gray;
	margin: 1em;
	padding: 0.5em;
}

div.box h2 {
	background: #786fb4;
	color: white;
	margin: -0.5em -0.5em 1em; -0.5em;
	padding: 0em 0.5em;
	font-size: 100%;
}

div.box table.vertical {
	margin-left: auto;
	margin-right: auto;
}

/* columns */
.leftcol {
	float: left;
	width: 49%;
}

.rightcol {
	float: right;
	width: 49%;
}
