:root {
    --light-color:rgb(247, 247, 247);
    --success-color:rgb(92, 184, 92);
    --warning-color:rgb(240, 173, 78);
    --danger-color:rgb(217, 83, 79);
}

h2 {
    font-size: 25px;
    margin: 18px 0 18px 0;
}

h2 a, h2 span {
    font-size: 14px;
    padding-left: 5px;
    font-weight: normal;
}

pre {
    line-height: 110%;
    background-color: white;
    border-radius: 0;
}

.floaty {
    position: fixed;
    left: 0.1em;
    top: 17em;
}

.hidden {
    visibility: hidden;
}

/* Bootstrap overrides */

.navbar-inverse .navbar-brand > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #999;
}

/* Bootstrap extensions */

.navbar-subbrand {
    float: left;
    height: 50px;
    padding: 15px 15px 15px 0;
    font-size: 18px;
    line-height: 20px;
}

.navbar-subbrand {
    color: #999;
}

form {
    padding: 0em;
    margin: 0em;
}

table {
    border-collapse: collapse;
}

img {
    border: 0;
}

input {
    border: thin solid #909090;
}

dl dt {
    margin-top: 0.8em;
}

#footer {
    padding: 1em;
    font-size: small;
    text-align: center;
    color: #909090;
}

#footer a {
    color: #909090;
}

/* messages */
.messages {
    background: #e0e0f0;
    margin: 0.5em 1em 0.0em 1em;
    padding: 0.3em;
    list-style-type: none;
}

.messages:empty {
    display: none;
}

.messages .success {
    color: var(--success-color);
}

.messages .warning {
    color: var(--warning-color);
}

.messages .error {
    color: var(--danger-color);
}

.filters {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 0 0 15px 0;
}

.filters .checkbox-inline input {
    margin-right: 6px;
}

a.filter-action {
    color: black;
}
a.filter-action:hover {
    text-decoration: none;
}

table.pw-list > thead {
    background-color: white;
}

a.colinactive, a.colactive {
    color: black;
    text-decoration: none;
}

a.colinactive:hover {
    color: red;
}

div.filters {
}

div.patchforms {
    margin-top: 1em;
}

/* list order manipulation */

table.patchlist tr.draghover {
    background: #e8e8e8 !important;
}

.dragging {
    border: thin solid black;
    background: #e8e8e8 !important;
}

input#reorder-cancel {
    display: none;
    color: #505050;
}

input#reorder-change {
}

/* list pagination */
.paginator {
    text-align: right;
    clear: both;
        margin: 8px 0 15px;
}

.paginator .prev-na,
.paginator .next-na {
    font-weight: normal;
    color: #a0a0a0;
}

.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
    font-weight: normal;
}

.paginator .prev, .paginator .prev-na { margin-right:.5em; }
.paginator .next, .paginator .next-na { margin-left:.5em; }

.paginator .page a, .paginator .page a:visited, .paginator .curr {
    font-weight: normal;
        padding: 6px 12px;
}
.paginator .curr {
    background-color: #eee;
        border-radius: 4px;
    color: #999;
    font-weight:normal;
}

.thumbnail {
    min-height: 200px;
}

/* patch view */
table.patch-meta th {
    text-align: left;
}

table.patch-meta tr th, table.patch-meta tr td {
    text-align: left;
    padding: 1px 10px;
    vertical-align: top;
}

.submission-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.patchnav {
    padding-left: 1em;
    padding-top: 1em;
}

/* checks forms */
/* TODO(stephenfin): Merge this with 'div.patchform' rules */
.checks {
    border: 1px solid gray;
    margin: 0.5em 1em;
}

.checks th {
    margin-top: 0em;
    margin-left: -0.6em;
    margin-right: -0.6em;
    padding: 0.3em 0.3em 0.3em 0.6em;
    background-color: #0A0A47;
    color: white;
    font-size: 100%;
    font-weight: normal;
}

.checks td {
    border-top: 1px solid gray;
    padding: 10px 15px;
    padding-left: 0.2em;
    margin-top: 0em;
}

.checks td a {
    text-decoration: none;
}

.checks td a:visited {
    color: #786FB4;
}

.checks a:hover {
    text-decoration: underline;
}

.patchlistchecks {
    display: inline-block;
    border-radius: 7px;
    min-width: 0.9em;
    padding: 0 2px;
    text-align: center;
}

.patchlistchecks.success {
    background-color: #82ca9d;
}

.patchlistchecks.warning {
    background-color: #ffc95e;
}

.patchlistchecks.fail {
    background-color: #ff5555;
}

.checks .state {
    font-weight: bold;
    color: #ddd;
}

.checks .state.success {
    color: #82ca9d;
}

.checks .state.warning {
    color: #ffe59a;
}

.checks .state.fail {
    color: #f7977a;
}

.submission-message .meta {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 0.3em 0.5em;
}

.submission-message .message-date {
    margin-left: 8px;
}

.submission-message .content {
    border: 0;
}

.patch-pull-url {
    font-family: "DejaVu Sans Mono", fixed;
}

div[class^="comment-status-bar-"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.comment-status-label {
    margin: 0px 8px;
}

button[class^=comment-action] {
    background-color: var(--light-color);
    border-radius: 4px;
}

.comment-action-addressed {
    border-color: var(--success-color);
}

.comment-action-unaddressed {
    border-color: var(--warning-color);
}

.comment-action-addressed:hover {
    background-color: var(--success-color);
    color: var(--light-color);
}

.comment-action-unaddressed:hover {
    background-color: var(--warning-color);
    color: var(--light-color);
}

.quote {
    color: #007f00;
}

span.p_header    { color: #2e8b57; font-weight: bold; }
span.p_chunk    { color: #a52a2a; font-weight: bold; }
span.p_context    { color: #a020f0; }
span.p_add    { color: #008b8b; }
span.p_del    { color: #6a5acd; }
span.p_mod    { color: #0000ff; }

.acked-by {
    color: #2d4566;

}

.nacked-by {
    color: #2d4566;

}

.signed-off-by {
    color: #672d45;
    font-weight: bold;
}

.from {
    font-weight: bold;
}

/* bundles */
table.bundlelist {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
}

table.bundlelist th {
    padding-left: 2em;
    padding-right: 2em;
    background: #eeeeee;
    border-bottom: thin solid black;
}

table.bundlelist td
{
    padding-left: 2em;
    padding-right: 2em;
}

/* forms that appear for a patch */
div.patchform {
    border: thin solid #080808;
    padding-left: 0.6em;
    padding-right: 0.6em;
    float: left;
    margin: 0.5em 5em 0.5em 10px;
}

div.patchform h3 {
    margin-top: 0em;
    margin-left: -0.6em;
    margin-right: -0.6em;
    padding: 0.3em 0.3em 0.3em 0.6em;
    background-color: #222;
    color: #999;
    font-size: 100%;
}

div.patchform ul {
    list-style-type: none;
    padding-left: 0.2em;
    margin-top: 0em;
}

/* forms */
table.form {
}

span.help_text {
    font-size: 80%;
}


table.form td {
    padding: 0.6em;
    vertical-align: top;
}

table.form th.headerrow {
    background: #222;
    color: #999;
    font-weight: bold;
    text-align: center;
}

table.form th {
    text-align: left;
    vertical-align: top;
    padding-top: 0.6em;
}

table.form td.form-help {
    font-size: smaller;
    padding-bottom: 1em;
    padding-top: 0em;
}

table.form tr td.submitrow {
    border-bottom: 0.2em solid #222;
    color: #333;
    text-align: center;
}

table.registerform, table.passwordform {
    margin-left: auto;
    margin-right: auto;
}
table.loginform {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

/* form errors */
#errors {
    background: #e0e0f0;
    margin: 0em 1em 0.5em 1em;
    padding: 0.3em;
}

#errors:empty {
    display: none;
}

.error-list, .errorlist {
    color: red;
}

/* generic table with header columns on the left */
table.horizontal {
    border-collapse: collapse;
    border: thin solid #e8e8e8;
}

table.horizontal th {
    text-align: left;
}

table.horizontal td, table.horizontal th {
    padding: 0.5em 1em;
    border: thin solid #e8e8e8;
}

/* generic table with header row */
table.vertical {
    border-collapse: collapse;
}

/* per suggestions here: https://github.com/twbs/bootstrap/issues/12238 */
.table-extra-condensed > thead > tr > th,
.table-extra-condensed > tbody > tr > th,
.table-extra-condensed > tfoot > tr > th,
.table-extra-condensed > thead > tr > td,
.table-extra-condensed > tbody > tr > td,
.table-extra-condensed > tfoot > tr > td {
    padding: 1px 0.5em 1px 0.5em;
    vertical-align: middle;
}

table.vertical th {
    background: #222;
    color: #999;
    font-weight: bold;
    text-align: center;
}

table.vertical th, table.vertical td {
    padding: 0.2em 0.8em;
    border: thin solid #e8e8e8;
}

td.numberformat {
    text-align: right;
}

/* boxes */
div.box {
    border: thin solid #080808;
    margin: 1em;
    padding: 0.5em;
}

div.box h2 {
    background: #222;
    color: #999;
    margin: -0.5em -0.5em 1em; -0.5em;
    padding: 0.3em 0.3em 0.3em 0.6em;
    font-size: 100%;
}

div.box table.vertical {
    margin-left: auto;
    margin-right: auto;
}

/* columns */
.leftcol {
    float: left;
    width: 49%;
}

.rightcol {
    float: right;
    width: 49%;
}
