# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# stgit generated dirs
patches-*

# CTag
tags
TAGS

# quilt files
/patches
/series

# patch files
/*.patch
/*.diff
/*.mbox

# cscope files
cscope.*

# misc files
*.orig
*.rej

*.swp
*~
\#*\#

*.sql

# Unit test / coverage reports
htmlcov/
.tox/
.venv/
.coverage
.coverage.*

# Django stuff
*.log

# Sphinx stuff
/docs/_build
/docs/api/samples

# Selenium test artifacts
/selenium.log
/selenium_screenshots

# Patchwork configuration files
patchwork/settings/production.py

# docker-compose configuration files
/.env

# django-dbbackup files
/.backups
