# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# stgit generated dirs
patches-*

# CTag
tags
TAGS

# quilt files
/patches
/series

# patch files
/*.patch
/*.diff
/*.mbox

# cscope files
cscope.*

# misc files

*.orig
*.rej

*.swp
*~
\#*\#

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# Django stuff
*.log

# Sphinx stuff
/docs/_build

# Vagrant stuff
/.vagrant

# Selenium test artifacts
/selenium.log
/selenium_screenshots

# Patchwork configuration files
patchwork/settings/production.py
