#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*
*.pyc
*.patch

#
# Top-level generic files
#
tags
TAGS
!.gitignore

# stgit generated dirs
patches-*

# quilt's files
/patches
/series

# cscope files
cscope.*

*.orig
*.rej

# test artifacts
/selenium.log
/selenium_screenshots
