Django~=2.2.0; python_version >= '3.5'  # pyup: >= 2.2.0,<2.3.0
djangorestframework~=3.11.0; python_version >= '3.5'
django-filter~=2.2.0; python_version >= '3.5'  # pyup: >=2.2.0,<2.3.0
django-debug-toolbar~=2.0.0; python_version >= '3.5'  # pyup: ignore
django-dbbackup~=3.2.0  # pyup: >=3.2.0,<3.3.0
-r requirements-test.txt
