Django==2.2.5; python_version >= '3.5'
Django==1.11.24; python_version < '3.0'  # pyup: ignore
djangorestframework==3.9.2
django-filter==2.2.0; python_version >= '3.5'
django-filter==1.1.0; python_version < '3.0'  # pyup: ignore
django-debug-toolbar==1.11
django-dbbackup==3.2.0
-r requirements-test.txt
