Django==2.1.5; python_version >= '3.4'
Django==1.11.15; python_version < '3.0'  # pyup: ignore
djangorestframework==3.9.1
django-filter==2.1.0; python_version >= '3.4'
django-filter==1.1.0; python_version < '3.0'  # pyup: ignore
psycopg2-binary==2.7.7
sqlparse==0.2.4
