{% extends "base2.html" %}

{% block title %}Password reset confirmation{% endblock %}
{% block heading %}Password reset confirmation{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
{% if validlink %}
          <div class="block has-text-centered">
            <h1 class="title is-3">Change password for @{{ form.user.get_username }}</h1>
          </div>
{% if form.non_field_errors %}
          <div class="notification is-danger is-light">
            <button class="delete"></button>
            {{ form.non_field_errors }}
          </div>
{% endif %}
          <form method="post" class="box">
            {% csrf_token %}
            <div class="field">
              <label for="id_new_password1" class="label has-text-weight-normal">
                New password
              </label>
              <div class="control has-icons-left">
                <input id="id_new_password1" type="password" name="new_password1" placeholder="*******" class="input" autocomplete="new-password" autofocus required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
{% for error in form.new_password1.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <label for="id_new_password2" class="label has-text-weight-normal">
                Confirm password
              </label>
              <div class="control has-icons-left">
                <input id="id_new_password2" type="password" name="new_password2" placeholder="*******" class="input" autocomplete="new-password" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
{% for error in form.new_password2.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <button class="button is-success is-fullwidth">
                Reset password
              </button>
            </div>
          </form>
{% else %}
          <div class="block has-text-centered">
            <h1 class="title is-3">Reset your password</h1>
          </div>
          <div class="box">
            <p class="block">
              The password reset link was invalid, possibly because it has already been used.
              Try again.
            </p>
            <a href="{% url 'password_reset' %}" class="button is-light is-fullwidth">
              Reset password
            </a>
          </div>
{% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}
