{% extends "base2.html" %}

{% block title %}Forgot your password?{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="block has-text-centered">
            <h1 class="title is-3">Reset your password</h1>
          </div>
{% if form.non_field_errors %}
          <div class="notification is-danger is-light">
            <button class="delete"></button>
            {{ form.non_field_errors }}
          </div>
{% endif %}
          <form method="post" class="box">
            {% csrf_token %}
            <div class="field">
              <label for="id_email" class="label has-text-weight-normal">
                Enter your email address below and we will email instructions
                for setting a new one.
              </label>
              <div class="control has-icons-left">
                <input id="id_email" type="email" name="email" placeholder="e.g. bobsmith@example.com" class="input" autocomplete="email" autofocus required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
{% for error in form.email.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <button class="button is-success is-fullwidth">
                Reset password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}{% endblock %}
