{% extends "base.html" %}

{% block title %}opt-out{% endblock %}
{% block heading %}opt-out{% endblock %}

{% block body %}

<p><strong>Opt-out complete</strong>. You have successfully opted-out of
automated notifications from this patchwork system, from the address
<strong>{{email}}</strong></p>
<p>Please note that you may still receive email from other patchwork setups at
different sites, as they are run independently. You may need to opt-out of
those separately.</p>
<p>If you later decide to receive mail from patchwork, just visit
<a href="{% url patchwork.views.mail.settings %}"
>http://{{site.domain}}{% url patchwork.views.mail.settings %}</a>, or
visit the main patchwork page and navigate from there.</p>
{% if user.is_authenticated %}
<p>Return to your <a href="{% url patchwork.views.user.profile %}">user
profile</a>.</p>
{% endif %}
{% endblock %}
