
{% load person %}

{% if patches %}
<form method="post">
<table class="patchlist">
 <tr>
  {% if patchform %}
  <th/>
  {% endif %}
  <th><a class="colinactive" href="list?person=846&order=patch">Patch</a></th>
  <th><a class="colinactive" href="list?person=846&order=date">Date</a></th>
  <th><a class="colinactive" href="list?person=846&order=submitter">Submitter</a></th>
  <th><a class="colinactive" href="list?person=846&order=state">State</a></th>
 </tr>
 {% for patch in patches %}
  <tr>
    {% if patchform %}
    <td>
    <input type="hidden" name="patch_ids" value="{{ patch.id }}"/>
    <input type="checkbox" name="patch-{{patch.id}}">
    </td>
    {% endif %}
   <td><a href="{% url patchwork.views.patch.patch patch_id=patch.id %}">{{ patch.name }}</a></td>
   <td>{{ patch.date|date:"Y-m-d" }}</td>
   <td>{{ patch.submitter|personify }}</td>
   <td>{{ patch.state }}</td>
  </tr>
 {% endfor %}
</table>

{% include "patchwork/patch-form.html" %}

{% else %}
 <p>No patches to display</p>
{% endif %}
