
<div class="patchform"
  style="border: thin solid black; padding-left: 0.8em; margin-top: 2em;">

 <div class="patchform-properties"
  style="float: left; margin-right: 4em;">
  <h3>Properties</h3>
    <table class="form">
     <tr>
      <th>Change state:</th>
      <td>{{ patchform.state }}</td>
     </tr>
     <tr>
      <th>Delegate to:</td>
      <td>{{ patchform.delegate }}</td>
     </tr>
     <tr>
      <td></td>
      <td>
       <input type="submit" value="Update">
      </td>
     </tr>
    </table>
  </form>
 </div>

 <div class="patchform-actions" style="padding-left: 4em;">
  <h3>Actions</h3>
   <table class="form">
    <tr>
     <td>Ack:</td>
     <td>
      <form action="{% url patchwork.views.patch patch=patch.id %}"
       method="post">
       <input type="hidden" name="action" value="act"/>
       <input type="submit" value="Ack"/>
      </form>
     </td>
    </tr>
    <tr>
     <td>Create bundle:</td>
     <td>
       {% if createbundleform.name.errors %}
       <span class="errors">{{createbundleform.errors}}</span>
       {% endif %}
      <form method="post">
       <input type="hidden" name="action" value="createbundle"/>
        {{ createbundleform.name }}
       <input value="Create" type="submit"/>
      </form>
      </td>
    </tr>
{% if bundles %}
    <tr>
     <td>Add to bundle:</td>
     <td>
      <form action="{% url patchwork.views.bundle.setbundle %}" method="post">
       <input type="hidden" name="action" value="add"/>
       <input type="hidden" name="patch_id" value="{{ patch.id }}"/>
       <select name="name"/>
        {% for bundle in bundles %}
         <option value="{{bundle.id}}">{{bundle.name}}</option>
        {% endfor %}
        </select>
       <input value="Add" type="submit"/>
      </form>
     </td>
    </tr>
{% endif %}
    <tr>
     <td>Archive:</td>
     <td>
      <form method="post">
       <input type="hidden" name="action" value="archive"/>
       <input type="submit" value="Archive"/>
      </form>
     </td>
    </tr>
   </table>
  </form>

 </div>

 <div style="clear: both;">
 </div>
</div>

