{% extends "patchwork/base.html" %}

{% block title %}{{ user.username }}{% endblock %}
{% block heading %}link accounts for {{ user.username }}{% endblock %}


{% block body %}

{% if confirmation %}
<p>A confirmation email has been sent to {{ confirmation.email }}.</p>

<p>beta link: <a
 href="{% url patchwork.views.user.link_confirm key=confirmation.key %}"
 >{% url patchwork.views.user.link_confirm key=confirmation.key %}</a></p>

{% else %}

   {% if form.errors %}
   <p>There was an error submitting your link request.</p>
    {{ form.non_field_errors }}
   {% endif %}

   <form action="{% url patchwork.views.user.link %}" method="post">
    {{linkform.email.errors}}
    Link an email address: {{ linkform.email }}
   </form>

{% endif %}

{% endblock %}
