{% load person %}
{% load utils %}
{% load syntax %}

{% is_editable submission user as editable %}
{% is_editable item user as comment_is_editable %}
<a name="{{ item.id }}"></a>
<div class="submission-message {{ item.msgid|yesno:",maintainer" }}">
  <div class="meta">
    {{ item.submitter|personify:project }}
    <span class="message-date">{{ item.date }} UTC |
  {% if not item.msgid %}
  <a href="{% url 'comment-redirect' comment_id=item.id %}"># Maintainer Note</a>
  {% else %}
  <a href="{% url 'comment-redirect' comment_id=item.id %}">#{{ forloop.counter}}</a>
  {% endif %}
    </span>
{% if item.addressed == None %}
    <div class="comment-status-bar-action-required" data-comment-id={{item.id}}>
{% else %}
    <div class="comment-status-bar-action-required hidden" data-comment-id={{item.id}}>
{% endif %}
{% if editable or comment_is_editable %}
      <button class="comment-action-unaddressed text-warning" value="false">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Mark Action Required
      </button>
{% endif %}
    </div>
{% if item.addressed == True %}
    <div class="comment-status-bar-addressed" data-comment-id={{item.id}}>
{% else %}
    <div class="comment-status-bar-addressed hidden" data-comment-id={{item.id}}>
{% endif %}
      <div class="comment-status-label text-success mx-3">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        Addressed
      </div>
{% if editable or comment_is_editable %}
      <button class="comment-action-unaddressed text-warning" value="false">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Mark Unaddressed
      </button>
{% endif %}
    </div>
{% if item.addressed == False %}
    <div class="comment-status-bar-unaddressed" data-comment-id={{item.id}}>
{% else %}
    <div class="comment-status-bar-unaddressed hidden" data-comment-id={{item.id}}>
{% endif %}
      <div class="comment-status-label text-warning mx-3">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Unaddressed
      </div>
{% if editable or comment_is_editable %}
      <button class="comment-action-addressed text-success" value="true">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        Mark Addressed
      </button>
{% endif %}
    </div>
  </div>
  <pre class="content">
{{ item|commentsyntax }}
  </pre>
</div>
