{% load person %}
{% load listurl %}
{% load patch %}
{% load project %}
{% load static %}

{% block headers %}
  <script src="{% static "js/patch-list.js" %}"></script>
{% endblock %}

{% include "patchwork/partials/filters.html" %}

{% if order.editable %}
<table class="patch-list">
  <tr>
    <td class="patch-list-reorder">
      <form method="post" id="reorder-form">
        {% csrf_token %}
        <input type="hidden" name="form" value="reorder-form"/>
        <input type="hidden" name="order_start" value="0"/>
        <span id="reorder-help"></span>
        <input id="reorder-cancel" type="button" value="Cancel" onClick="order_cancel_click(this)"/>
        <input id="reorder-change" type="button" value="Change order" onClick="order_button_click(this)"/>
      </form>
    </td>
  </tr>
</table>
{% endif %}

<form id="patch-list-form" method="post">
  {% csrf_token %}
  <input type="hidden" name="form" value="patch-list-form"/>
  <input type="hidden" name="project" value="{{project.id}}"/>

  <div class="patch-list-actions">
{% include "patchwork/partials/patch-forms.html" %}
{% include "patchwork/partials/pagination.html" %}
  </div>
  <table id="patch-list" class="table table-hover table-extra-condensed table-striped pw-list" data-toggle="checkboxes" data-range="true">
    <thead>
      <tr>
{% if user.is_authenticated %}
        <th style="text-align: center;">
         <input type="checkbox" id="check-all"/>
        </th>
{% endif %}

{% if user.is_authenticated and user.profile.show_ids %}
        <th>
          ID
        </th>
{% endif %}

        <th>
{% if not order.editable %}
{% if order.name == "name" %}
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
          </a>
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
           Patch
          </a>
{% else %}
          <a class="col-inactive" href="{% listurl order="name" %}">Patch</a>
{% endif %}
{% else %}
          <span class="col-inactive">Patch</span>
{% endif %}
        </th>

        <th>
          <span class="col-inactive">Series</span>
        </th>

        <th>
          {% project_tags %}
        </th>

        <th>
          <span title="Success / Warning / Fail">S/W/F</span>
        </th>

        <th>
{% if not order.editable %}
{% if order.name == "date" %}
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
          </a>
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            Date
          </a>
{% else %}
          <a class="col-inactive" href="{% listurl order="date" %}">Date</a>
{% endif %}
{% else %}
          <span class="col-inactive">Date</span>
{% endif %}
        </th>

        <th>
{% if not order.editable %}
{% if order.name == "submitter" %}
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
          </a>
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            Submitter
          </a>
{% else %}
          <a class="col-inactive" href="{% listurl order="submitter" %}">
            Submitter
          </a>
{% endif %}
{% else %}
          <span class="col-inactive">Submitter</span>
{% endif %}
        </th>

        <th>
{% if not order.editable %}
{% if order.name == "delegate" %}
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
          </a>
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            Delegate
          </a>
{% else %}
          <a class="col-inactive" href="{% listurl order="delegate" %}">Delegate</a>
{% endif %}
{% else %}
          <span class="col-inactive">Delegate</span>
{% endif %}
        </th>

        <th>
{% if not order.editable %}
{% if order.name == "state" %}
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
          </a>
          <a class="col-active" href="{% listurl order=order.reversed_name %}">
            State
          </a>
{% else %}
          <a class="col-inactive" href="{% listurl order="state" %}">State</a>
{% endif %}
{% else %}
          <span class="col-inactive">State</span>
{% endif %}
        </th>

      </tr>
    </thead>

    <tbody>
{% for patch in page.object_list %}
      <tr id="patch-row:{{patch.id}}" data-patch-id="{{patch.id}}">
{% if user.is_authenticated %}
        <td id="select-patch:{{patch.id}}" style="text-align: center;">
          <input type="checkbox" name="patch_id:{{patch.id}}"/>
        </td>
{% endif %}
{% if user.is_authenticated and user.profile.show_ids %}
        <td>
          <button type="button" class="btn btn-xs btn-copy" data-clipboard-text="{{ patch.id }}" title="Copy to Clipboard">
            {{ patch.id }}
          </button>
        </td>
{% endif %}
        <td id="patch-name:{{patch.id}}">
          <a href="{% url 'patch-detail' project_id=project.linkname msgid=patch.encoded_msgid %}">
            {{ patch.name|default:"[no subject]"|truncatechars:100 }}
          </a>
        </td>
        <td id="patch-series:{{patch.id}}">
{% if patch.series %}
          <a href="?series={{patch.series.id}}">
            {{ patch.series|truncatechars:100 }}
          </a>
{% endif %}
        </td>
        <td id="patch-tags:{{patch.id}}" class="text-nowrap">{{ patch|patch_tags }}</td>
        <td id="patch-checks:{{patch.id}}" class="text-nowrap">{{ patch|patch_checks }}</td>
        <td id="patch-date:{{patch.id}}" class="text-nowrap">{{ patch.date|date:"Y-m-d" }}</td>
        <td id="patch-submitter:{{patch.id}}">{{ patch.submitter|personify:project }}</td>
        <td id="patch-delegate:{{patch.id}}">{{ patch.delegate.username }}</td>
        <td id="patch-state:{{patch.id}}">{{ patch.state }}</td>
       </tr>
{% empty %}
      <tr>
        <td colspan="8">No patches to display</td>
      </tr>
{% endfor %}
    </tbody>
  </table>

{% if page.paginator.count %}
{% include "patchwork/partials/pagination.html" %}
{% endif %}
</form>
