{% load person %}
{% load listurl %}
{% load patch %}
{% load project %}
{% load static %}

{% block headers %}
  <script src="{% static "js/patch-list.js" %}"></script>
{% endblock %}

{% include "patchwork/partials/filters.html" %}

{% if order.editable %}
<table class="patchlist">
 <tr>
  <td class="patchlistreorder">
   <form method="post" id="reorderform">
    {% csrf_token %}
    <input type="hidden" name="form" value="reorderform"/>
    <input type="hidden" name="order_start" value="0"/>
    <span id="reorderhelp"></span>
    <input id="reorder-cancel" type="button" value="Cancel"
     onClick="order_cancel_click(this)"/>
    <input id="reorder-change" type="button" value="Change order"
     onClick="order_button_click(this)"/>
    </form>
  </td>
 </tr>
</table>
{% endif %}

{% if page.paginator.long_page and user.is_authenticated %}
<div class="floaty">
 <a title="jump to form" href="#patchforms">
  <span style="font-size: 120%">&#9662;</span>
 </a>
</div>
{% endif %}

<form id="patch-list-form" method="post">
{% csrf_token %}
<input type="hidden" name="form" value="patchlistform"/>
<input type="hidden" name="project" value="{{project.id}}"/>
<div class="patch-list-actions">
  <div class="patchforms" id="patchforms">
    {% if patchform %}
      <div id="patchform-properties" class="patchform">
        <div id="patchform-state">
          {{ patchform.state.errors }}
          {{ patchform.state }}
        </div>
        <div id="patchform-delegate">
          {{ patchform.delegate.errors }}
          {{ patchform.delegate }}
        </div>
        <div id="patchform-archive">
          {{ patchform.archived.errors }}
          {{ patchform.archived }}
        </div>
        <button class="patchform-submit btn btn-primary" name="action" value="{{patchform.action}}">Update</button>
      </div>
    {% endif %}
    {% if user.is_authenticated %}
      <div id="patchform-bundle" class="patchform">
        <div id="create-bundle">
          <input class="create-bundle" type="text" name="bundle_name" placeholder="Bundle name"/>
          <input class="patchform-submit btn btn-primary" name="action" value="Create" type="submit"/>
        </div>
        {% if bundles %}
        <div id="add-to-bundle">
          <select class="add-bundle" name="bundle_id">
            <option value="" selected>Add to bundle</option>
            {% for bundle in bundles %}
             <option value="{{bundle.id}}">{{bundle.name}}</option>
            {% endfor %}
          </select>
          <input class="patchform-submit btn btn-primary" name="action" value="Add" type="submit"/>
        </div>
        {% endif %}
        {% if bundle %}
        <div id="remove-bundle">
          <input type="hidden" name="removed_bundle_id" value="{{bundle.id}}"/>
          <button class="patchform-submit btn btn-primary" name="action" value="Remove">Remove from bundle</button>
        </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {% include "patchwork/partials/pagination.html" %}
</div>
<table id="patchlist" class="table table-hover table-extra-condensed table-striped pw-list"
       data-toggle="checkboxes" data-range="true">
 <thead>
  <tr>
   {% if user.is_authenticated %}
   <th style="text-align: center;">
    <input type="checkbox" id="check-all"/>
   </th>
   {% endif %}

   {% if user.is_authenticated and user.profile.show_ids %}
   <th>
     ID
   </th>
   {% endif %}

   <th>
    {% if order.name == "name" %}
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
     </a>
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      Patch
     </a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="name" %}">Patch</a>
     {% else %}
     <span class="colinactive">Patch</span>
     {% endif %}
    {% endif %}
   </th>

   <th>
    <span class="colinactive">Series</span>
   </th>

   <th>
    {% project_tags %}
   </th>

   <th>
    <span title="Success / Warning / Fail">S/W/F</span>
   </th>

   <th>
    {% if order.name == "date" %}
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
     </a>
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      Date
     </a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="date" %}">Date</a>
     {% else %}
     <span class="colinactive">Date</span>
     {% endif %}
    {% endif %}
   </th>

   <th>
    {% if order.name == "submitter" %}
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
     </a>
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      Submitter
     </a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="submitter" %}">
      Submitter
     </a>
     {% else %}
     <span class="colinactive">Submitter</span>
     {% endif %}
    {% endif %}
   </th>

   <th>
    {% if order.name == "delegate" %}
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
     </a>
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      Delegate
     </a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="delegate" %}">Delegate</a>
     {% else %}
     <span class="colinactive">Delegate</span>
     {% endif %}
    {% endif %}
   </th>

   <th>
    {% if order.name == "state" %}
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      <span class="glyphicon glyphicon-chevron-{{ order.updown }}"></span>
     </a>
     <a class="colactive" href="{% listurl order=order.reversed_name %}">
      State
     </a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="state" %}">State</a>
     {% else %}
     <span class="colinactive">State</span>
     {% endif %}
    {% endif %}
   </th>

  </tr>
 </thead>

 <tbody>
 {% for patch in page.object_list %}
  <tr id="patch_row:{{patch.id}}" data-patch-id="{{patch.id}}">
   {% if user.is_authenticated %}
   <td id="select-patch" style="text-align: center;">
    <input type="checkbox" name="patch_id:{{patch.id}}"/>
   </td>
   {% endif %}
   {% if user.is_authenticated and user.profile.show_ids %}
   <td>
    <button type="button" class="btn btn-xs btn-copy"
     data-clipboard-text="{{ patch.id }}" title="Copy to Clipboard">
      {{ patch.id }}
    </button>
   </td>
   {% endif %}
   <td id="patch-name">
    <a href="{% url 'patch-detail' project_id=project.linkname msgid=patch.url_msgid %}">
     {{ patch.name|default:"[no subject]"|truncatechars:100 }}
    </a>
   </td>
   <td id="patch-series">
    {% if patch.series %}
    <a href="?series={{patch.series.id}}">
     {{ patch.series|truncatechars:100 }}
    </a>
    {% endif %}
   </td>
   <td id="patch-tags" class="text-nowrap">{{ patch|patch_tags }}</td>
   <td id="patch-checks" class="text-nowrap">{{ patch|patch_checks }}</td>
   <td id="patch-date" class="text-nowrap">{{ patch.date|date:"Y-m-d" }}</td>
   <td id="patch-submitter">{{ patch.submitter|personify:project }}</td>
   <td id="patch-delegate">
      <select class="change-property-delegate">
        {% if not patch.delegate.username %}
          <option value="*" selected>No delegate</option>
        {% else %}
          <option value="*">No delegate</option>
        {% endif %}
        {% for maintainer in maintainers %}
          {% if maintainer.name == patch.delegate.username %}
            <option value="{{ patch.delegate.username.id }}" selected>{{ patch.delegate.username }}</option>
          {% else %}
            <option value="{{ maintainer.id }}">{{ maintainer.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </td>
   <td id="patch-state">
    <select class="change-property-state">
      {% for state in states %}
        {% if state.name == patch.state.name %}
          <option value="{{ patch.state.ordering }}" selected>{{ patch.state }}</option>
        {% else %}
          <option value="{{ state.ordering  }}">{{ state.name }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </td>
  </tr>
 {% empty %}
  <tr>
   <td colspan="8">No patches to display</td>
  </tr>
 {% endfor %}
 </tbody>
</table>

{% if page.paginator.count %}
{% include "patchwork/partials/pagination.html" %}
{% endif %}

</form>
