{% extends "base2.html" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container" style="margin-top: 1rem;">
  <section class="block">
    <h1 class="title">
      About Patchwork
    </h1>

    <p>
      Patchwork is a patch tracking system for community-based projects.
      It is intended to make the patch management process easier for both the
      project's contributors and maintainers, leaving time for the more
      important (and more interesting) stuff.
    </p>

    <p>
      Patchwork is free software, and is available from the
      <a href="https://github.com/getpatchwork/patchwork/">Patchwork website</a>.
      Documentation is available on
      <a href="http://patchwork.readthedocs.io/">Read the Docs</a>.
    </p>
  </section>

  <section class="block">
    <h2 id="overview" class="title is-4">
      <a href="#overview" title="Permalink to this section">#</a>
      Status
    </h2>

    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <span class="has-text-weight-bold">Version</span>
          </div>
          <div class="column is-narrow">
            {{ version }}
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <span class="has-text-weight-bold">REST API</span>
          </div>
          <div class="column is-narrow">
{% if enabled_apis.rest %}
            <span class="tag is-medium is-success">enabled</span>
{% else %}
            <span class="tag is-medium is-danger">disabled</span>
{% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <span class="has-text-weight-bold">XML-RPC API</span>
          </div>
          <div class="column is-narrow">
{% if enabled_apis.xmlrpc %}
            <span class="tag is-medium is-success">enabled</span>
{% else %}
            <span class="tag is-medium is-danger">disabled</span>
{% endif %}
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="block">
    <h2 id="administrators" class="title is-4">
      <a href="#administrators" title="Permalink to this section">#</a>
      Administrators
    </h2>
{% for admin in admins %}
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <span class="has-text-weight-bold">{{ admin.0 }}</span>
          </div>
          <div class="column">
            <span>{{ admin.1 }}</span>
          </div>
        </div>
      </div>
    </div>
{% empty %}
    <p>This instance has no administrators.</p>
{% endfor %}
  </section>
</div>
{% endblock %}
