{% extends "base.html" %}

{% block title %}Sign in to Patchwork{% endblock %}
{% block heading %}Sign in to Patchwork{% endblock %}

{% block headers %}
  <script>
    $(function() {
        $('#id_username').focus()
    });
  </script>
{% endblock %}

{% block body %}
<form method="post">
{% csrf_token %}
<table class="form loginform">
 <tr>
  <th colspan="2" class="headerrow">login</th>
 </tr>
 {% if error %}
  <tr>
   <td colspan="2">{{ error }}</td>
  </tr>
 {% endif %}
 {{ form }}
 <tr>
  <td class="submitrow">
   <input type="submit" value="Login"/>
  </td>
  <td class="submitrow">
   <a href="{% url 'password_reset' %}">
     Forgot password?
   </a>
  </td>
 </tr>
</table>
</form>
{% endblock %}
