{% extends "base.html" %}

{% block title %}Opt-in{% endblock %}
{% block heading %}Opt-in{% endblock %}

{% block body %}
{% if confirmation %}
<p><strong>Opt-in confirmation email sent</strong></p>
<p>An opt-in confirmation mail has been sent to
<strong>{{confirmation.email}}</strong>, containing a link. Please click on
that link to confirm your opt-in.</p>
{% else %}
{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if form %}
<p>This form allows you to opt-in to automated email from Patchwork. Use
this if you have previously opted-out of Patchwork mail, but now want to
received notifications from Patchwork.</p>
When you submit it, an email will be sent to your address with a link to click
to finalise the opt-in. Patchwork does this to prevent someone opting you in
without your consent.</p>
<form method="post" action="">
{% csrf_token %}
{{form.email.errors}}
<div style="padding: 0.5em 1em 2em;">
{{form.email.label_tag}}: {{form.email}}
</div>
<input type="submit" value="Send me an opt-in link">
</form>
{% endif %}

{% if error and admins %}
<p>If you are having trouble opting in, please email
{% for admin in admins %}
{% if admins|length > 1 and forloop.last %} or {% endif %}
{{admin.0}} &lt;<a href="mailto:{{admin.1}}">{{admin.1}}</a
>&gt;{% if admins|length > 2 and not forloop.last %}, {% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if user.is_authenticated %}
<p>Return to your <a href="{% url 'user-profile' %}">user
profile</a>.</p>
{% endif %}

{% endblock %}
