{% extends "base.html" %}

{% block title %}Opt-in{% endblock %}
{% block heading %}Opt-in{% endblock %}

{% block body %}
<p><strong>Opt-in complete</strong>. You have successfully opted back in to
automated email from this Patchwork system, using the address
<strong>{{email}}</strong>.</p>
<p>If you later decide that you no longer want to receive automated mail from
Patchwork, just visit <a href="{% url 'mail-settings' %}"
>http://{{site.domain}}{% url 'mail-settings' %}</a>, or
visit the main Patchwork page and navigate from there.</p>
{% if user.is_authenticated %}
<p>Return to your <a href="{% url 'user-profile' %}">user
profile</a>.</p>
{% endif %}
{% endblock %}
