{% extends "base.html" %}

{% block title %}Opt-out{% endblock %}
{% block heading %}Opt-out{% endblock %}

{% block body %}
<p><strong>Opt-out complete</strong>. You have successfully opted-out of
automated notifications from this Patchwork system, from the address
<strong>{{email}}</strong></p>
<p>Please note that you may still receive email from other Patchwork setups at
different sites, as they are run independently. You may need to opt-out of
those separately.</p>
<p>If you later decide to receive mail from Patchwork, just visit
<a href="{% url 'mail-settings' %}"
>http://{{site.domain}}{% url 'mail-settings' %}</a>, or
visit the main Patchwork page and navigate from there.</p>
{% if user.is_authenticated %}
<p>Return to your <a href="{% url 'user-profile' %}">user
profile</a>.</p>
{% endif %}
{% endblock %}
