{% load person %}
{% load listurl %}
{% load patch %}
{% load static %}

{% load cycle from future %}

{% include "patchwork/pagination.html" %}

{% include "patchwork/filters.html" %}

{% if order.editable %}
<table class="patchlist">
 <tr>
  <td class="patchlistreorder">
   <form method="post" id="reorderform">
    {% csrf_token %}
    <input type="hidden" name="form" value="reorderform"/>
    <input type="hidden" name="order_start" value="0"/>
    <span id="reorderhelp"></span>
    <input id="reorder-cancel" type="button" value="Cancel"
     onClick="order_cancel_click(this)"/>
    <input id="reorder-change" type="button" value="Change order"
     onClick="order_button_click(this)"/>
    </form>
  </td>
 </tr>
</table>
{% endif %}

{% if page.paginator.long_page and user.is_authenticated %}
<div class="floaty">
 <a title="jump to form" href="#patchforms"><span
  style="font-size: 120%">&#9662;</span></a>
</div>
{% endif %}

<script type="text/javascript" language="JavaScript">
$(document).ready(function() {
    $('#patchlist').stickyTableHeaders();
});
</script>
<form method="post">
{% csrf_token %}
<input type="hidden" name="form" value="patchlistform"/>
<input type="hidden" name="project" value="{{project.id}}"/>
<table class="table table-hover" id="patchlist">
 <thead>
  <tr>
   {% if user.is_authenticated %}
   <th>
    <input type="checkbox" onChange="select_all(this)"/>
   </th>
   {% endif %}

   <th>
    {% ifequal order.name "name" %}
     <a class="colactive"
      href="{% listurl order=order.reversed_name %}"><span
	      class="glyphicon glyphicon-chevron-{{ order.updown }}"
      ></span></a> <a class="colactive"
      href="{% listurl order=order.reversed_name %}">Patch</a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="name" %}">Patch</a>
     {% else %}
     <span class="colinactive">Patch</span>
     {% endif %}
    {% endifequal %}
   </th>

   <th>
    <span
     title="{% for tag in project.tags %}{{tag.name}}{% if not forloop.last %} / {% endif %}{% endfor %}"
     >{% for tag in project.tags %}{{tag.abbrev}}{% if not forloop.last %}/{% endif %}{% endfor %}</span>
   </th>

   <th>
    {% ifequal order.name "date" %}
     <a class="colactive"
      href="{% listurl order=order.reversed_name %}"><span
	      class="glyphicon glyphicon-chevron-{{ order.updown }}"
      ></span></a> <a class="colactive"
      href="{% listurl order=order.reversed_name %}">Date</a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="date" %}">Date</a>
     {% else %}
     <span class="colinactive">Date</span>
     {% endif %}
    {% endifequal %}
   </th>

   <th>
    {% ifequal order.name "submitter" %}
     <a class="colactive"
      href="{% listurl order=order.reversed_name %}"><span
	      class="glyphicon glyphicon-chevron-{{ order.updown }}"
      ></span></a> <a class="colactive"
      href="{% listurl order=order.reversed_name %}">Submitter</a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="submitter" %}">Submitter</a>
     {% else %}
     <span class="colinactive">Submitter</span>
     {% endif %}
    {% endifequal %}
   </th>

   <th>
    {% ifequal order.name "delegate" %}
     <a class="colactive"
      href="{% listurl order=order.reversed_name %}"><span
	      class="glyphicon glyphicon-chevron-{{ order.updown }}"
      ></span></a> <a class="colactive"
      href="{% listurl order=order.reversed_name %}">Delegate</a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="delegate" %}">Delegate</a>
     {% else %}
     <span class="colinactive">Delegate</span>
     {% endif %}
    {% endifequal %}
   </th>

   <th>
    {% ifequal order.name "state" %}
     <a class="colactive"
      href="{% listurl order=order.reversed_name %}"><span
	      class="glyphicon glyphicon-chevron-{{ order.updown }}"
      ></span></a> <a class="colactive"
      href="{% listurl order=order.reversed_name %}">State</a>
    {% else %}
     {% if not order.editable %}
     <a class="colinactive" href="{% listurl order="state" %}">State</a>
     {% else %}
     <span class="colinactive">State</span>
     {% endif %}
    {% endifequal %}
   </th>

  </tr>
 </thead>

{% if page.paginator.count %}
 <tbody>
 {% for patch in page.object_list %}
  <tr id="patch_row:{{patch.id}}">
    {% if user.is_authenticated %}
    <td>
    <input type="checkbox" name="patch_id:{{patch.id}}"/>
    </td>
    {% endif %}
   <td><a href="{% url 'patchwork.views.patch.patch' patch_id=patch.id %}"
     >{{ patch.name|default:"[no subject]" }}</a></td>
   <td style="white-space: nowrap;">{{ patch|patch_tags }}</td>
   <td>{{ patch.date|date:"Y-m-d" }}</td>
   <td>{{ patch.submitter|personify:project }}</td>
   <td>{{ patch.delegate.username }}</td>
   <td>{{ patch.state }}</td>
  </tr>
 {% endfor %}
 </tbody>
</table>

{% include "patchwork/pagination.html" %}

<div class="patchforms" id="patchforms" name="patchforms">

{% if patchform %}
 <div class="patchform patchform-properties">
  <h3>Properties</h3>
    <table class="form">
     <tr>
      <th>Change state:</th>
      <td>
       {{ patchform.state }}
       {{ patchform.state.errors }}
      </td>
     </tr>
     <tr>
      <th>Delegate to:</td>
      <td>
       {{ patchform.delegate }}
       {{ patchform.delegate.errors }}
      </td>
     </tr>
     <tr>
      <th>Archive:</td>
      <td>
       {{ patchform.archived }}
       {{ patchform.archived.errors }}
      </td>
     </tr>
     <tr>
      <td></td>
      <td>
       <input type="submit" name="action" value="{{patchform.action}}"/>
      </td>
     </tr>
    </table>
 </div>

{% endif %}

{% if user.is_authenticated %}
 <div class="patchform patchform-bundle">
  <h3>Bundling</h3>
   <table class="form">
    <tr>
     <td>Create bundle:</td>
     <td>
      <input type="text" name="bundle_name"/>
      <input name="action" value="Create" type="submit"/>
      </td>
    </tr>
  {% if bundles %}
    <tr>
     <td>Add to bundle:</td>
     <td>
       <select name="bundle_id"/>
        {% for bundle in bundles %}
         <option value="{{bundle.id}}">{{bundle.name}}</option>
        {% endfor %}
        </select>
       <input name="action" value="Add" type="submit"/>
     </td>
    </tr>
  {% endif %}
  {% if bundle %}
   <tr>
     <td>Remove from bundle:</td>
     <td>
       <input type="hidden" name="removed_bundle_id" value="{{bundle.id}}"/>
       <input name="action" value="Remove" type="submit"/>
     </td>
    </tr>
  {% endif %}
  </table>
 </div>
{% endif %}


 <div style="clear: both;">
 </div>
</div>

{% else %}
 <tr>
  <td colspan="6">No patches to display</td>
 </tr>
{% endif %}

 </table>
</form>

