{% extends "base2.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="notification is-success">
{% elif message.tags == 'warning' %}
<div class="notification is-warning">
{% elif message.tags == 'error' %}
<div class="notification is-danger">
{% else %}
<div class="notification">
{% endif %}
  {{ message }}
  <button class="delete" onclick="dismiss(this);"></button>
</div>
{% endfor %}
<div class="container" style="margin-top: 1rem;">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">
          Overview
        </p>
        <ul class="menu-list">
          <li><a href="#projects">Projects</a></li>
          <li><a href="#bundles">Bundles</a></li>
          <li><a href="#todo">Todo List</a></li>
        </ul>
        <p class="menu-label">
          Settings
        </p>
        <ul class="menu-list">
          <li><a href="#profile">Profile</a></li>
          <li><a href="#linked-emails">Linked emails</a></li>
          <li><a href="#profile-settings">Profile settings</a></li>
          <li><a href="#security">Security</a></li>
        </ul>
      </aside>
    </div>

    <div class="column is-9">
      <h1 id="overview" class="title">
        <a href="#overview" title="Permalink to this section"></a>
        Overview
      </h1>

      <section class="block">
        <h2 id="projects" class="title is-4">
          <a href="#projects" title="Permalink to this section">#</a>
          Projects
        </h2>
{% if user.profile.maintainer_projects.count %}
        <p>
          Maintainer of
{% for project in user.profile.maintainer_projects.all %}
            <a href="{% url 'patch-list' project_id=project.linkname %}">{{ project.linkname }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}.
        </p>
{% endif %}
{% if user.profile.contributor_projects.count %}
        <p>
          Contributor to
{% for project in user.profile.contributor_projects.all %}
          <a href="{% url 'patch-list' project_id=project.linkname %}">{{ project.linkname }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}.
        </p>
{% endif %}
      </section>

      <section class="block">
        <h2 id="bundles" class="title is-4">
          <a href="#bundles" title="Permalink to this section">#</a>
          Bundles
        </h2>
{% if bundles %}
        <p>You have the following bundle{{ bundles|length|pluralize }}:</p>
        <ul>
{% for bundle in bundles %}
          <li><a href="{{ bundle.get_absolute_url }}">{{ bundle.name }}</a></li>
{% endfor %}
        </ul>
        <p>
          Visit the <a href="{% url 'user-bundles' %}">bundles page</a> to manage your bundles.
        </p>
{% else %}
        <p>You have no bundles.</p>
{% endif %}
      </section>

      <section class="block">
        <h2 id="todo" class="title is-4">
          <a href="#todo" title="Permalink to this section">#</a>
          Todo List
        </h2>
        <p>
          Your <a href="{% url 'user-todos' %}">todo list</a> contains patches that
          have been delegated to you.
        </p>
        <p>
{% if user.profile.n_todo_patches %}
          Your have {{ user.profile.n_todo_patches }}
          patch{{ user.profile.n_todo_patches|pluralize:"es" }} in your todo list.
{% else %}
          You have no patches in your todo list at present.
{% endif %}
        </p>
      </section>

      <h1 id="settings" class="title">
        <a href="#settings" title="Permalink to this section"></a>
        Settings
      </h1>

      <section class="block">
        <h2 id="profile" class="title is-4">
          <a href="#profile" title="Permalink to this section">#</a>
          Profile
        </h2>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="form_name" value="user-form">
          <div class="field">
            <label for="id_username" class="label">
              Username
            </label>
            <div class="control">
              <input id="id_username" type="text" name="name" class="input" value="{{ user.username }}" disabled>
            </div>
          </div>
          <div class="field">
            <label for="id_first_name" class="label">
              First name
            </label>
            <div class="control">
              <input id="id_first_name" type="text" name="first_name" class="input" autocomplete="given-name" value="{{ user.first_name }}">
            </div>
          </div>
          <div class="field">
            <label for="id_last_name" class="label">
              Last name
            </label>
            <div class="control">
              <input id="id_last_name" type="text" name="last_name" class="input" autocomplete="family-name" value="{{ user.last_name }}">
            </div>
          </div>
          <div class="control">
            <button class="button is-primary is-disabled">Save</button>
          </div>
        </form>
      </section>

      <section class="block">
        <h2 id="linked-emails" class="title is-4">
          <a href="#linked-emails" title="Permalink to this section">#</a>
          Linked emails
        </h2>
{% if user_link_email_form.non_field_errors %}
        <div class="notification is-danger is-light">
          <button class="delete" onclick="dismiss(this);"></button>
          {{ user_link_email_form.non_field_errors }}
        </div>
{% endif %}
{% for email in linked_emails %}
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <span>{{ email.email }}</span>
{% if user.email == email.email %}
                <span class="tag is-primary is-medium">Primary</span>
{% endif %}
              </div>
{% if user.email != email.email %}
              <div class="column is-narrow">
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="form_name" value="user-unlink-email-form">
                  <input type="hidden" name="email" value="{{ email.email }}">
                  <button class="button is-danger">Unlink</button>
                </form>
              </div>
              <div class="column is-narrow">
                <form method="post">
                  <input type="hidden" name="form_name" value="user-primary-email-form">
                  <input type="hidden" name="email" value="{{ email.email }}">
                  {% csrf_token %}
                  <button class="button is-info">Make primary</button>
                </form>
              </div>
{% endif %}
              <div class="column is-narrow">
{% if email.is_optout %}
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="form_name" value="user-email-optin-form">
                  <input type="hidden" name="email" value="{{ email.email }}"/>
                  <button class="button is-info is-right">Opt-in</button>
                </form>
{% else %}
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="form_name" value="user-email-optout-form">
                  <input type="hidden" name="email" value="{{ email.email }}"/>
                  <button class="button is-info">Opt-out</button>
                </form>
{% endif %}
              </div>
            </div>
          </div>
        </div>
{% endfor %}
        <div class="block"></div>
        <div class="block">
          <form class="block" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="user-link-email-form">
            <label for="id_email" class="label">
              Add email address
            </label>
            <div class="field is-grouped">
              <div class="control">
                <input id="id_email" type="email" name="email" placeholder="e.g. bobsmith@example.com" class="input" value="{{ user_link_email_form.email.value|default:'' }}" required>
{% for error in user_link_email_form.email.errors %}
                <p class="help is-danger">{{ error }}</p>
{% endfor %}
              </div>
              <div class="control">
                <button class="button is-info">
                  Add email
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>

      <section class="block">
        <h2 id="profile-settings" class="title is-4">
          <a href="#profile-settings" title="Permalink to this section">#</a>
          Profile settings
        </h2>
{% if user_profile_form.non_field_errors %}
        <div class="notification is-danger is-light">
          <button class="delete" onclick="dismiss(this);"></button>
          {{ user_profile_form.non_field_errors }}
        </div>
{% endif %}
        <form class="block" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_name" value="user-profile-form">
          <div class="field">
            <label for="id_items_per_page" class="label">
              Items per page
            </label>
            <div class="control">
              <input id="id_items_per_page" type="number" name="items_per_page" class="input" value="{{ user.profile.items_per_page }}" required>
              <p class="help">Number of items to display per page</p>
{% for error in user_profile_form.items_per_page.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
          </div>
          <div class="field">
            <p class="label">
              Show patch IDs
            </p>
            <div class="control">
              <label class="radio">
                <input type="radio" name="show_ids" value="yes" {% if user.profile.show_ids %}checked{% endif %}>
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="show_ids" value="no" {% if not user.profile.show_ids %}checked{% endif %}>
                No
              </label>
              <p class="help">Show click-to-copy patch IDs in the list view</p>
{% for error in user_profile_form.show_ids.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
          </div>
          <div class="control">
            <button class="button is-primary is-disabled">Update settings</button>
          </div>
        </form>
      </section>

      <section class="block">
        <h2 id="security" class="title is-4">
          <a href="#security" title="Permalink to this section">#</a>
          Security
        </h2>
{% if user_password_form.non_field_errors %}
        <div class="notification is-danger is-light">
          <button class="delete" onclick="dismiss(this);"></button>
          {{ user_password_form.non_field_errors }}
        </div>
{% endif %}
        <form class="block" method="post">
          {% csrf_token %}
          <input type="hidden" name="form_name" value="user-password-form">
          <div class="field">
            <label for="id_old_password" class="label">
              Current password
            </label>
            <div class="control">
              <input id="id_old_password" type="password" name="old_password" class="input" required>
            </div>
{% for error in user_password_form.old_password.errors %}
            <p class="help is-danger">{{ error }}</p>
{% endfor %}
          </div>
          <div class="field">
            <label for="id_new_password1" class="label">
              New password
            </label>
            <div class="control">
              <input id="id_new_password1" type="password" name="new_password1" class="input" autocomplete="new-password" required>
            </div>
{% for error in user_password_form.new_password1.errors %}
            <p class="help is-danger">{{ error }}</p>
{% endfor %}
          </div>
          <div class="field">
            <label for="id_new_password2" class="label">
              Confirm password
            </label>
            <div class="control">
              <input id="id_new_password2" type="password" name="new_password2" class="input" autocomplete="new-password" required>
            </div>
{% for error in user_password_form.new_password2.errors %}
            <p class="help is-danger">{{ error }}</p>
{% endfor %}
          </div>
          <div class="control">
            <button class="button is-primary is-disabled">Update password</button>
          </div>
        </form>
        <div class="block">
          <label for="id_api_token" class="label">
            API token
          </label>
          <div class="field has-addons">
            <div class="control is-expanded">
              <input id="id_api_token" type="text" name="name" class="input" value="{{ api_token|default_if_none:'' }}" disabled>
            </div>
{# TODO: wire this up #}
            <div class="control">
              <button class="button is-info">
                Copy
              </button>
            </div>
          </div>
          <form method="post" action="{% url 'generate_token' %}">
            {% csrf_token %}
            <div class="control">
{% if api_token %}
              <button class="button is-primary">Regenerate token</button>
{% else %}
              <button class="button is-primary">Generate token</button>
{% endif %}
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});

function dismiss(el){
  el.parentNode.style.display = 'none';
};
</script>
{% endblock %}
