{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}
{% block heading %}{{ project.name }}{% endblock %}

{% block body %}

<table class="horizontal">
 <tr>
  <th>Name</th>
  <td>{{project.name}}
 </tr>
 <tr>
  <th>List address</th>
  <td>{{project.listemail}}</td>
 </tr>
 <tr>
  <th>Maintainer{{maintainers|length|pluralize}}</th>
  <td>
   {% for maintainer in maintainers %}
    {{ maintainer.profile.name }}
     &lt;<a href="mailto:{{maintainer.email}}">{{maintainer.email}}</a>&gt;
     <br />
   {% endfor %}
  </td>
 </tr>
 <tr>
  <th>Patch count</th>
  <td>{{n_patches}} (+ {{n_archived_patches}} archived)</td>
 </tr>
{% if project.web_url %}
 <tr>
  <th>Website</th>
  <td><a href="{{project.web_url}}">{{project.web_url}}</a></td>
 </tr>
{% endif %}
{% if project.webscm_url %}
 <tr>
  <th>Source Code Web Interface</th>
  <td><a href="{{project.webscm_url}}">{{project.webscm_url}}</a></td>
 </tr>
{% endif %}
{% if project.scm_url %}
 <tr>
  <th>Source Code Manager URL</th>
  <td><a href="{{project.scm_url}}">{{project.scm_url}}</a></td>
 </tr>
{% endif %}
</table>

{% if settings.ENABLE_XMLRPC %}
<p>Sample <a href="{% url 'patchwork.views.help' "pwclient/" %}">patchwork
client</a> configuration for this project: <a
href="{% url 'patchwork.views.pwclientrc' project.linkname %}"
>.pwclientrc</a>.</p>
{% endif %}
  
{% endblock %}
