{% extends "base2.html" %}

{% block title %}Projects{% endblock %}

{% block body %}
<div class="container" style="margin-top: 1rem;">
  <h1 class="title">
    Projects
  </h1>

  <section class="block">
{% for project in projects %}
    <div class="box">
      <div class="columns is-vcentered">
        <div class="column is-narrow">
          <h2 class="title is-5">{{ project.name }}</h2>
        </div>
        <div class="column">
          <span>({{ project.listemail }})</span>
        </div>
        <div class="column is-narrow">
          <a class="button is-secondary" href="{% url 'project-detail' project_id=project.linkname %}">
            <span class="icon">
              <i class="fas fa-info"></i>
            </span>
            <span>About</span>
          </a>
        </div>
        <div class="column is-narrow">
          <a class="button is-primary" href="{% url 'patch-list' project_id=project.linkname %}">
            <span class="icon">
              <i class="fas fa-code-branch"></i>
            </span>
            <span>View patches</span>
          </a>
        </div>
      </div>
    </div>
{% empty %}
    <div class="box">
      <div class="columns is-vcentered">
        <div class="column is-narrow">
          <span class="icon">
            <i class="fa fa-info"></i>
          </span>
        </div>
        <div class="column">
          <p>Patchwork doesn't have any projects to display.</p>
        </div>
      </div>
    </div>
{% endfor %}
  </section>
</div>
{% endblock %}
