{% extends "base2.html" %}

{% block title %}Registration{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6-tablet is-6-desktop is-6-widescreen">
          <div class="block has-text-centered">
            <h1 class="title is-3">Create your Patchwork account</h1>
          </div>
{% if form.non_field_errors %}
          <div class="notification is-danger is-light">
            <button class="delete"></button>
            {{ form.non_field_errors }}
          </div>
{% endif %}
{% for message in messages %}
{% if message.tags == 'success' %}
          <div class="notification is-success is-light">
{% elif message.tags == 'warning' %}
          <div class="notification is-warning is-light">
{% elif message.tags == 'error' %}
          <div class="notification is-danger is-light">
{% else %}
          <div class="notification is-light">
{% endif %}
            <button class="delete" onclick="dismiss(this);"></button>
            {{ message }}
          </div>
{% endfor %}
          <form method="post" class="box">
            {% csrf_token %}
            <div class="field">
              <label for="id_username" class="label has-text-weight-normal">Username</label>
              <div class="control has-icons-left">
                <input id="id_username" type="text" name="username" placeholder="e.g. bobsmith" class="input" autocomplete="username" autofocus required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
{% for error in form.username.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <label for="id_email" class="label has-text-weight-normal">Email</label>
              <div class="control has-icons-left">
                <input id="id_email" type="email" name="email" placeholder="e.g. bobsmith@example.com" class="input" autocomplete="email" autofocus required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
{% for error in form.email.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <label for="id_first_name" class="label has-text-weight-normal">First name</label>
              <div class="control has-icons-left">
                <input id="id_first_name" type="text" name="first_name" class="input" autocomplete="given-name" autofocus required>
                <span class="icon is-small is-left">
                </span>
              </div>
{% for error in form.first_name.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <label for="id_last_name" class="label has-text-weight-normal">Last name</label>
              <div class="control has-icons-left">
                <input id="id_last_name" type="text" name="last_name" class="input" autocomplete="family-name" autofocus required>
                <span class="icon is-small is-left">
                </span>
              </div>
{% for error in form.last_name.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <label for="id_password" class="label has-text-weight-normal">Password</label>
              <div class="control has-icons-left">
                <input id="id_password" type="password" name="password" placeholder="*******" class="input" autocomplete="current-password" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
{% for error in form.password.errors %}
              <p class="help is-danger">{{ error }}</p>
{% endfor %}
            </div>
            <div class="field">
              <button class="button is-success is-fullwidth">
                Sign up
              </button>
            </div>
          </form>
          <div class="box has-text-centered">
            <a href="{% url 'auth_login' %}">Log in</a>
            &nbsp;•&nbsp;
            <a href="{% url 'password_reset' %}">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
