{% extends "base.html" %}

{% load humanize %}
{% load syntax %}
{% load person %}
{% load patch %}
{% load static %}
{% load utils %}

{% block title %}{{series.name}}{% endblock %}

{% block body %}

<div>
{% include "patchwork/partials/download-buttons.html" %}
  <h1>{{ series.name }}</h1>
</div>

<table class="patch-meta">
    <tr>
        <th>Series ID</th>
        <td>
            {{ series.id }}
            <span class="btn-link btn-copy glyphicon glyphicon-copy" data-clipboard-text="{{ request.build_absolute_uri }}{{ series.get_absolute_url }}" title="Copy to Clipboard"></span>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ series.date }}</td>
    </tr>
    <tr>
        <th>Submitter</th>
        <td>{{ series.submitter }}</td>
    </tr>
    <tr>
        <th>Total</th>
        <td>{{ series.patches }}</td>
    </tr>
</table>
<br>
<h2>Patches</h2>
<br>
{% include "patchwork/partials/patch-list.html" %}

<div id="cover-letter">
    <h2>Cover Letter</h2>
    {% if series.cover_letter.content %}
    <pre class="content">{{ series.cover_letter.content }}</pre>
    {% else %}
    No cover letter available
    {% endif %}
</div>

{% endblock %}
