{% extends "base.html" %}

{% block title %}Link accounts{% endblock %}
{% block heading %}Link accounts for {{ user.username }}{% endblock %}

{% block body %}
{% if confirmation and not error %}
<p>A confirmation email has been sent to {{ confirmation.email }}. Click
on the link provided in the email to confirm that this address belongs to
you.</p>
{% else %}
   <p>There was an error submitting your link request:</p>
   {% if form.errors %}
    {{ form.non_field_errors }}
   {% endif %}
   {% if error %}
    <ul class="error-list"><li>{{error}}</li></ul>
   {% endif %}

   <form action="{% url 'user-link' %}" method="post">
    {% csrf_token %}
    {{linkform.email.errors}}
    Link an email address: {{ linkform.email }}
   </form>
{% endif %}
{% endblock %}
