# sphinx 4.1.x breaks sphinxcontrib-httpdomain which sphinxcontrib-openapi depends on
# see https://github.com/sphinx-contrib/httpdomain/pull/51
sphinx==4.2.0
reno>=2.2
sphinx_rtd_theme~=0.5.0
jinja2~=2.11.2
sphinxcontrib-openapi~=0.7.0
